.janek-shadow {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 20px 30px;    
    border-radius: 9px;
    border: 1px solid rgba(224, 224, 224, 1);
}

.report-calendar .calendar-day-active {
    pointer-events: none;
}

.MuiDataGrid-columnHeaders ~ div:nth-of-type(3) {
    display: none;
}

.MuiDataGrid-cell {
    font-weight: 600;
}

.delivery-done-count {
    font-weight: 700;
    margin-right: 5px;
    color: rgb(72, 169, 72);
}

.undelivery-count {
    font-weight: 700;
    margin-left: 5px;
    color: rgb(255, 0, 0);
}